<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <script src="../static/commonjs/react.development.js"></script>
    <script src="../static/commonjs/react-dom.development.js"></script>
    <script src="../static/commonjs/browser.min.js"></script>
    <script type="text/babel" src ="../static/index.js"></script>
    <script src="../static/commonjs/axios.min.js"></script>
</head>
<body>
<div id="example"></div>
<div id = "userInfo"></div>

</body>
</html>